.has-bg-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.card-custom{
    
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    width: 333px; /* Box dimensions */
    height: 462px; 
    flex-direction: column;
    
    border-radius: 4px; /* Styling */
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
}

.card-center {
    align-items: center;
    flex-direction: column;
}


.card__content {
    display: flex;
    flex-direction: column;
    flex: 5;
}


.card__title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    color: rgba(196, 36, 36, 0.9);
    font-size: 2rem;
    line-height: 1;font-weight: 600; 
}



.card__sub-meaning {
    color: rgb(84 84 84);
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.card__meaning {
    color: rgb(84 84 84);
    font-size: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;

}

.card__example {
    color: rgb(84 84 84);
    font-size: 1.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.card__image {
    flex: 3;
    margin: 60px;
}

.flashcard_card {
  margin: 10px auto;
  background: linear-gradient(#c75600, #f88d35);
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  border-radius: var(--border-radius);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 8px rgba(0, 0, 0, 0.1),
    0px 8px 16px rgba(0, 0, 0, 0.1), 0px 16px 32px rgba(0, 0, 0, 0.1);
  position: relative;
  cursor: pointer;
  /* animated interactivity */
  transition: 250ms;
  transform-style: preserve-3d;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));
}

/* when card is clicked adding .side class */
.side {
  background: linear-gradient(#96153e, #e02341);
  transform: rotateY(-180deg);
}

/* card content */
.flashcard_card .front,
.flashcard_card .back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.flashcard_card .front {
  transform: rotateY(0deg);
}

.flashcard_card.side .front {
  opacity: 0;
  display: none;
}

.flashcard_card .back {
  transform: rotateY(180deg);
}

.flashcard_card small {
  opacity: 0.7;
  font-size: 0.7em;
  position: absolute;
  top: 3rem;
}

.flashcard_card.side small {
  transform: rotateY(180deg);
}

.flashcard_card small span {
  display: block;
  text-align: center;
  font-size: small;
}

.loading {
  color: white;
  width: 350px;
  text-align: center;
  margin: 20px auto;
}
